.thumbnail {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
}
.thumbnail img {
    width: 80%;
}
.thumbnail .caption{
    margin: 7px;
}
.main-section{
    background-color: #F8F8F8;
}
.dropdown{
    padding-right: 30px;
}
.dropdown .dropdown-menu{
    padding:10px;
    top:20px !important;
    width:290px !important;
    left:30px !important;
    box-shadow:0px 5px 30px black;
    z-index: 1999 !important;
}
.total-header-section{
    border-bottom:1px solid #d2d2d2;
}
.total-section p{
    margin-bottom:20px;
}
.cart-detail{
    padding:15px 0;
}
.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}
.cart-detail-product p{
    margin:0;
    color:#000;
    font-weight:500;
}
.cart-detail .price{
    font-size:12px;
    margin-right:10px;
    font-weight:500;
}
.cart-detail .count{
    color:#C2C2DC;
}
.checkout{
    border-top:1px solid #d2d2d2;
    padding-top: 15px;
}
.checkout .btn-primary{
    border-radius:50px;
    height:50px;
}
.dropdown-menu:before{
    content: "";
    position:absolute;
    top:-20px;
    right:80px;
    border:10px solid transparent;
    border-bottom-color:#fff;
}

.btn-cart{
    border: none;
    background: #815AE9;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
}
