/*body, html {*/
/*    background-color: #ebecf0;*/
/*}*/
button.main,.input-group input{
    font-size: 1rem;
    padding: 0.75rem !important;
    font-weight: 500;
    text-shadow: 1px 1px 0 #fff;
}
button.main {
    border: 0;
    outline: 0;
    /*background-color: #ebecf0;*/
    background-color: #F3F4F6;
    /*box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;*/
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.75rem;
    display: block;
    width: 100%;
    color: #000;
}
button.main:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button.main:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.input-group input[name=name],input[name=email],input[name=mobile]{
    border-radius: 0.75rem !important;
}
.input-group input[name=password],input[name=password_confirmation]{
    border-radius: 0 0.75rem 0.75rem 0 !important;
}
.input-group input[type=text],input[type=password] {
  /*box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;*/
  box-shadow: inset 2px 2px 5px #e3e3ec, inset -5px -5px 10px #fff;
  /*width: 100%;*/
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
.input-group input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff !important;
}
.input-group span{
    border: 1px solid #D0D4DD;
    border-radius: 0.7rem 0 0 0.7rem;
    border-right: 0;
}
.input-group span:hover{
    background: #EBECF0;
}
.input-group span i{
    vertical-align: -50%;
}
.remember-color{
    color: #67676e;
    font-weight: 600;
}
.google-btn{
    font-weight: 500;
}
.h-400{
    height: 400px;
}
