/*start footer color*/
.social-icon-bg{
    border-radius: 27% 60% 41% 46% / 32% 41% 29% 51%;
    background-color: #F3F4F6;
    padding: 0.6rem 0.6rem;
}

.social-icon-bg:hover{
    background-color: #dfe0e5;
}

.footer-color{
    color: #6B7280 !important;
}

a.footer-color:hover {
    text-decoration: underline !important;
}

.instagram-color,.telegram-color,.youtube-color,.linkedin-color,.twitter-color{
    color: #6B7280 !important;
}
.instagram-color:hover{
    color: #D94289 !important;
}
.telegram-color:hover{
    color: #36AEE2 !important;
}
.youtube-color:hover{
    color: #FE0000 !important;
}
.linkedin-color:hover{
    color: #0077B5 !important;
}
.twitter-color:hover{
    color: #1D9BF0 !important;
}
/*end footer color*/


.custom-shadow{
    box-shadow: 0 10px 16px -6px rgb(228, 228, 228);
}

a{
    text-decoration: none;
    color: #441BA0;
    font-weight: 600;
}

a.text-xl{
    font-size: 1.25rem;
    font-weight: 800;
    color: #475466;
}

a.text-xl:hover{
    font-size: 1.25rem;
    font-weight: 800;
    color: #333030;
}

/*landing card profile start*/
.card-profile {
    position: relative;
    float: right;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px #2a2a2a;
    border-radius: 100%;
}
.card-profile::after {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    font-size: 30px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}
/*landing card profile end*/

ul li a{
    color:#475466 !important;
    font-size: 1.2rem;
}

.card-txt{
    font-weight: 600 !important;
    font-size: 0.9rem;
}

.card-title-color{
    color: #475466;
}

.main-color{
    color: #334155;
}

.btn-color-purple {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
.btn-color-purple {
    margin: 10px;
    padding: 15px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 15rem;
    font-weight: 700;
    }

    .btn-color-purple:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }

/*start login btn*/
    .btn-purple {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
    .btn-purple {
        margin: 5px;
        padding: 8px 8px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #c1bece;
        border-radius: 5px;
        width: 6rem;
        font-weight: 500;
    }

    .btn-purple:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }
/*end login btn*/

/*start register btn*/
.btn-gray {background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%)}
.btn-gray {
    margin: 5px;
    padding: 8px 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px #ddd;
    border-radius: 5px;
    width: 6rem;
    font-weight: 500;
}

 .btn-gray:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(32, 30, 30);
   text-decoration: none;
 }
/*end register btn*/


 /*start more btn*/
 .btn-more {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
 .btn-more {
     margin: 10px;
     padding: 8px 8px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;
     box-shadow: 0 0 20px #c1bece;
     border-radius: 5px;
     display: block;
     width: 9rem;
     margin: auto;
     }

     .btn-more:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
     }
/*end more btn*/


/*start all-courses btn*/
.all-courses {background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%)}
.all-courses {
    margin: 10px;
    padding: 8px 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px rgb(172, 168, 168);
    border-radius: 5px;
    display: block;
    width: 12rem;
    font-weight: 700;
}

 .all-courses:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(32, 30, 30);
   text-decoration: none;
 }

 /*end all-courses btn*/

 /*start all-blog btn*/
 .all-blog {background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%)}
 .all-blog {
    margin: 10px;
    padding: 8px 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;
    box-shadow: 0 0 20px rgb(172, 168, 168);
    border-radius: 5px;
    display: block;
    width: 12rem;
    font-weight: 700;
 }

  .all-blog:hover {
    background-position: right center; /* change the direction of the change here */
    color: rgb(32, 30, 30);
    text-decoration: none;
  }
 /*end all-blog btn*/
.fluid-customize{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

 .bg-footer{
     background-color: #334155;
 }

 .bg-footer-wrapper{
     background-color: #1E293B;
 }

 .custom-box-services{
   border-radius: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 40px -20px, rgba(0, 0, 0, 0.3) 0px 5px 5px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }

 .custom-box-services img{
   width:128px;
   height:128px;
   display: block;
   margin: auto;
 }

 .custom-box-shadow{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }

 /*landign search start*/
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #ffffff;
    padding-right: 40px;
    color:#000;
    font-family: 'IRANSans' !important;
}
.input-search::placeholder{
    color: rgb(51, 48, 48);
    font-size: 18px;
    font-weight: 100;
    font-family: 'IRANSans' !important;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    color: #700191;
    background-color:transparent;
    pointer-events: painted;
    font-family: 'FontAwesome' !important;
}
.btn-search:focus ~ .input-search{
    width: 230px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgb(168, 168, 168);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom:1px solid rgb(222, 218, 218);
    /*transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);*/
}
/*landing search end*/


/*Font Face Start*/
body{
    font-family:iranyekanBakh !important;
}

h1,h2,h3,h4,h5,h6{
    font-family:iranyekanBakh !important;
    font-weight: 800 !important;
}

p{
    font-family:iranyekanBakh !important;
    font-weight: 400 !important;
}
/*Font Face End*/
